/* Midnight Navy #0B1020 (fundal)

Antique Gold #C2A34A (accente/butoane/ramă) */

h1, h2, h3, p {

    padding: 0;
    margin: 0;
}

html, body {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

/*header*/
h1 {

    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    word-spacing: 15px;

    font-family: "Cinzel", serif;   
    font-size: 47px;
    text-transform: uppercase;
    
    text-align: center;

    background-color: #0B1020;
    color: white;
}
/*header*/

/*content*/
.content {

    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
    
    display: flex;
    flex-direction: column;

    background-color: #C2A34A;
    color: white;
}

.description {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 35px;

    gap: 5px;
}
.description h2 {

    font-size: 43px;
    word-spacing: 5px;

}
.description h3 {

    font-size: 28px;
}

.score {

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 100px;

    margin-bottom: 55px;
}
.score-content {

    display: flex;
    flex-direction: column;
    gap: 18px;
}
.score-content p {

    font-size: 25px;
}
.score-content img {

    width: 220px;
    height: auto;
}

.rps-options {

    display: flex;

    justify-content: center;
    align-items: center;
    gap: 160px;

    margin-bottom: 22px;
}
.rps-options img {

    width: 210px;
    height: auto;

    display: block;

    cursor: pointer;

    transition: transform 0.18s ease;
}
.rps-options img:hover {
    
    transform: scale(1.08);
}
/*content*/


/*footer*/
footer {

    display: flex;
    justify-content: center;
    align-items: center;


    font-family: "Spectral", serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    color: white;
    word-spacing: 4px;
    
    flex: 1;

    background-color: #0B1020;
}
/*footer*/